
            html, body {
				height: 100%;
				margin: 0;
				padding: 0;
				overflow: hidden;
				background: black;
				position: relative;
				font-family: 'Muli', sans-serif;
			}

            #container	{	
            	position: absolute;
             	width: 100%;
				height: 100%;
   					
             }
         
			.activate {		
				position: absolute;
				cursor:pointer;
	   			border:none;
	    		width:100%;
	   			height:100%;
	   			/* background-color:rgba(0, 0, 0, 0);*/
	   			background: transparent;
   			}

			.activate img{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width:100px;
				height: 100px;
			}

			.infoPanel {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				
				width:200px;
				height:200px;
				text-align: center;
				color: white;
				border: none;
				background-color: black;

			}

			.infoPanel.hidden {
				display: none;
			}

			.infoPanel div {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%); 	
			  	text-align: center;
			  	display: inline-block;
			  	width: 150px;
			  	font-family: 'Poppins', sans-serif;
			  	letter-spacing: 2px;
			  	/*text-transform: uppercase;*/
			}
			a {
				/*font-family: 'Muli', sans-serif;*/
				color: white;

				font-family: 'Poppins', sans-serif;
				border-bottom: 1px solid #fff;
				/*padding-bottom: 1px;*/

				text-decoration: none;

			}
			a:hover {
				color:#cccccc;
				border-bottom: 2px solid #fff;
			}

			h1 {
				font-size: 20px;
				letter-spacing: 5px;
			}

			h3 {
				font-size: 12px;
			}
			p {
				font-size: 10px;
				color: #666;
			}
			.loadingBar{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width:60px;
				height: 5px;
				background: white;
				//transition: width 0.1s;
				//-webkit-transition: width 0.1s;
			}


			
			.shrines {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
			.gui {
				position: absolute;
				bottom: 20px;
				left: 20px;
				right: 20px;
				text-align: center;
				visibility: hidden;
				
			}
			.gui ul {
				border: 1px #333 solid;
				display: inline-block;
				list-style: none;
				margin: 0;
				padding: 0;
			}
			.gui li {
				display: inline-block;
				border-right: 1px #333 solid;
			}
			.gui li:last-child {
				border: none;
			}
			.gui button {
				display: inline-block;
				text-align: center;
				border: 0;
				width: 40px;
				height: 40px;
				overflow: hidden;
				cursor: pointer;
			}

			button.quality {
				background: #666;
				background: transparent;
				background-image: url(img/icQual.svg);
				background-repeat: no-repeat;
				background-size: 16px 16px;
				background-position: center; 
				opacity: 0.5;
			}
			button.quality.hi {
				background: red;
				background: transparent;
				background-image: url(img/icQual.svg);
				background-repeat: no-repeat;
				background-size: 16px 16px;
				background-position: center; 
				opacity: 0.5;

			}
			button.sound {
				background: transparent;
				background-image: url(img/icMute.svg);
				background-repeat: no-repeat;
				background-size: 16px 16px;
				background-position: center; 
				opacity: 0.5;

			}
			button.sound.muted {
				background: transparent;
				background-image: url(img/icMuted.svg);
				background-repeat: no-repeat;
				background-size: 16px 16px;
				background-position: center; 
				opacity: 0.5;
			}
			button.info {
				background: transparent;
				background-image: url(img/icAbout.svg);
				background-repeat: no-repeat;
				background-size: 16px 16px;
				background-position: center; 
				opacity: 0.5;

			}
			button.sound:hover, button.quality:hover, button.info:hover{
				background-color: #222;
				opacity: 1;
			}

			button span.active {
				display: none;				
			}
			button.active span.active {
				display: block;
			}
			button.active span.default {
				display: none;
			}			